extends layout

block content
    h1.
        Articles
    ul
        each article, i in articles
            li
                a(href=article.url)= article.url
                br 
                = article.votes